h2{
    font-family: 'Lobster', cursive;
    text-align: center;
}

#one{
    background-color: #51E5FF;
}

#two{
    background-color: #440381;
}

#three{
    background-color: #EC368D;
}
#for{
    background-color: #FFA5A5;
}
#five{
    background-color: #FFD6C0;
}
td{
    width: 200px;
    height: 400px;
    border: 6px solid white;
}

table{
    margin: auto;
}